<!-- {{}} interpolation for one way data binding component to view  -->
<h1 title="{{ title | uppercase }}">{{ title }}</h1>

<!-- [binding-target]="binding-source" propert binding -->
<button [disabled]="isDisabled" [style.color]="color">I am disabled</button>

<!-- https://www.tektutorialshub.com/angular/event-binding-in-angular/ -->
<!-- (target-event)="templateStatement" event binding from view to component one way -->
<!-- <button (click)="onSave($event)">Save</button> -->
<!-- using on- syntax -->
<!-- <button on-click="onSave($event)">Save</button> -->
<!-- Template reference variable -->
<button #el on-click="onSave(el)">Save</button>

<!-- <input type="text" (keyup)="username=$any($event.target).value"> -->
<input type="text" (keyup.control.shift.enter)="username = $any($event.target).value" />
<p>{{ username }}</p>

<!-- https://www.tektutorialshub.com/angular/ngmodel-two-way-data-binding-in-angular/ -->
<!-- Two Way binding : bannana boxing [()] -->
<!-- <input
  type="text"
  [value]="username"
  (input)="username = $any($event.target).value"
/> -->
<input type="text" name="username" [(ngModel)]="username" />
<p>You entered {{ username }}</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dignissimos debitis, iste necessitatibus non voluptate,
  ipsam minima quis reprehenderit dolore repellendus quisquam officia modi ratione illo doloribus natus molestias
  accusantium, numquam earum impedit adipisci hic maxime magni? Perspiciatis temporibus accusamus obcaecati fugit?
  Accusantium ipsa, dolore cumque aperiam consectetur doloribus incidunt voluptatum ad quasi consequatur minus deleniti
  velit? Quam, laboriosam perferendis. Ratione beatae quia dicta suscipit ad dignissimos eum eligendi ex! Corrupti ad at
  quisquam sunt! Quasi assumenda vel minus! Necessitatibus nihil, harum nemo labore quisquam ipsa. Fugit, aperiam nobis
  illum alias eius culpa est amet eveniet harum rerum fuga laborum recusandae reiciendis accusamus beatae at nisi natus
  magni voluptatibus libero. Accusamus, amet sequi! Dolores libero aspernatur numquam quos. Dolore, numquam atque. Sunt
  modi quidem beatae doloribus consequuntur quisquam non, tenetur dolore error? Amet cum aspernatur atque modi quo?
  Laborum consequatur fugit repellat dicta id eveniet sequi optio, quis, eos quas labore ipsum. Necessitatibus nobis,
  esse quia id nam officiis nesciunt perspiciatis quaerat ut asperiores nihil illum accusamus quo perferendis! Voluptas
  laboriosam exercitationem assumenda ratione illo consectetur dignissimos architecto ipsam ullam nesciunt ut, officia
  labore dicta voluptate doloremque quaerat at deserunt, aliquid fuga laudantium culpa tempora eligendi inventore
  cupiditate. Quo incidunt error architecto ut recusandae velit impedit ipsam possimus hic eum quod quibusdam est
  voluptatibus illum, provident adipisci, nisi et voluptatem aut facilis, sint quasi iste aspernatur! Nemo obcaecati
  laudantium ducimus architecto facere dolores laboriosam officia voluptate at nam tenetur illo, excepturi sit nulla
  praesentium. Facere dolorum ea consequatur nobis alias, ipsam maiores harum quos, adipisci culpa ducimus et sint modi
  hic quo. Nemo repellat, consequatur voluptatum voluptatibus eligendi voluptates molestiae, corporis excepturi
  doloremque sint nisi fuga deleniti rem numquam repudiandae velit. Iure, ducimus delectus. Excepturi accusantium totam
  ducimus assumenda incidunt rem a qui officiis adipisci, nulla possimus perferendis laborum velit nesciunt vero dolorem
  soluta labore! Et optio obcaecati reiciendis nisi consequuntur ad laudantium eveniet quaerat expedita dolor, tenetur,
  doloribus necessitatibus fugit rem odio cupiditate nobis amet est unde reprehenderit veritatis. Quos reiciendis nobis
  odit ipsum quia ullam nemo neque! Reprehenderit accusantium quod autem tenetur tempora, aperiam, nisi maxime
  perferendis facere quaerat dolorem rem quidem doloribus velit placeat ab quis nesciunt cupiditate error sed quae quia
  voluptatem accusamus facilis. Fugit placeat modi voluptate, explicabo eligendi quod tempora temporibus! Quae saepe
  sapiente dolor sed, id corrupti illo fugiat dolores quaerat quos amet voluptas aliquid odit sunt? Cupiditate
  laudantium unde eligendi deserunt, dolore rerum illum! Suscipit pariatur accusantium veniam magnam, est vitae nulla
  officia ab ex nisi optio. Est debitis magnam sapiente totam natus dolorum quibusdam at laborum corporis consequatur,
  quam, ea, aliquid hic excepturi similique? Facere molestias doloremque veritatis dignissimos distinctio delectus quasi
  minus numquam maxime beatae, ea laudantium cupiditate et architecto autem sunt ad molestiae voluptates! Dolores nemo,
  deleniti dignissimos voluptates eveniet veritatis repellat sint possimus omnis natus pariatur nisi ex, porro maxime
  veniam reprehenderit ipsam mollitia consequatur illo a harum, error adipisci fugiat minima. Eos commodi omnis, soluta
  est aut temporibus labore amet magni sequi nostrum eaque dolorum, ipsum earum magnam nisi rerum sit alias repudiandae
  necessitatibus dolores perspiciatis nemo, molestiae explicabo cumque. Enim id porro veritatis impedit magnam
  perferendis. Reiciendis saepe quisquam delectus debitis sint? Distinctio ad eum quisquam modi iure temporibus possimus
  deleniti dignissimos enim exercitationem quos labore pariatur, eius iste fugit natus ratione dolores est at quam
  tempore autem a impedit asperiores. Voluptas sequi culpa iste tempore, totam minima, magni ea nisi debitis, doloribus
  incidunt harum quibusdam! Hic, facilis? Enim, animi. Illo cupiditate quidem ipsum ratione temporibus laborum pariatur,
  nihil iusto blanditiis repellendus delectus praesentium suscipit iste est placeat quaerat incidunt cumque ipsa in
  dolor. Incidunt optio sapiente ut blanditiis exercitationem, corporis dolor quae consequatur voluptatem perspiciatis
  iure doloremque illum cupiditate explicabo asperiores fugiat, aliquam est amet aliquid, culpa ipsum adipisci vitae
  nesciunt. Itaque aliquid dicta explicabo vel maxime veritatis, ullam, iusto nesciunt magni, officia tenetur eaque est
  molestiae quos odio reprehenderit expedita ducimus rerum beatae ad laboriosam rem! Beatae esse asperiores accusantium,
  quia repellendus unde quae quidem necessitatibus culpa! Minima reprehenderit alias at. Minima numquam amet voluptatum
  sint eum autem praesentium! Enim inventore odio magnam quae modi ex aperiam repellendus illum, explicabo numquam
  reprehenderit ea blanditiis iure esse et at, reiciendis expedita impedit, sint asperiores vitae omnis! Beatae
  quibusdam eius explicabo corporis obcaecati neque perspiciatis voluptatum excepturi, rerum accusamus? Vel maiores
  autem quis, animi accusamus quaerat maxime dolor blanditiis quia soluta doloribus, aperiam doloremque voluptates. Hic
  fugit dolorum ducimus repellendus natus, aspernatur minus incidunt? Voluptate eveniet modi impedit tempore dolorem
  provident molestiae quis. Natus vel magnam ratione accusamus maxime laborum ut quia molestias dignissimos modi
  debitis, consectetur corporis id in veritatis recusandae veniam expedita nemo non quidem unde. Ullam unde cupiditate
  numquam alias magni est assumenda exercitationem. Iusto totam sed corporis quas, animi adipisci iste unde repellat
  natus dicta deleniti? Cumque, laboriosam eveniet deleniti alias ducimus asperiores. Voluptatum numquam ullam vitae!
  Dolore sequi nulla laboriosam fugit quisquam quam officia provident reprehenderit blanditiis suscipit corrupti hic
  nam, corporis distinctio? Explicabo, debitis repudiandae consectetur quas optio rerum officiis. Fuga dolores iure
  illo. Doloremque, soluta ipsam quasi porro ducimus placeat expedita cumque adipisci officiis autem incidunt, animi
  deleniti minima, nulla necessitatibus provident voluptatum quaerat? Recusandae distinctio sint ipsam. Labore excepturi
  amet provident perferendis iste iusto dolor tempore consequuntur quibusdam molestiae debitis quos aperiam aliquam quia
  quisquam aut impedit eaque cupiditate, eligendi cumque voluptates sequi itaque earum? Voluptates exercitationem
  tempore saepe laborum blanditiis, nulla delectus dolores cumque illo cum fugiat rem odit, quisquam est quaerat maiores
  deleniti alias provident beatae incidunt? Quos et quam facere repudiandae, qui dolor iure quasi dolores ipsum earum ad
  officia modi est nesciunt obcaecati vero saepe quis accusantium dignissimos pariatur? Harum quis, soluta iste minima,
  eum nisi necessitatibus nulla earum fuga culpa totam maiores temporibus porro tempora veniam quisquam sint! Laudantium
  dolores architecto, suscipit velit blanditiis exercitationem tempora accusamus, ad repudiandae odio aliquam.
  Aspernatur quam quas repellendus, saepe sint amet officia obcaecati ducimus aliquam, corrupti autem natus! Aut,
  assumenda nesciunt. Nostrum voluptas delectus non nobis unde. Magnam nostrum ipsum beatae quisquam earum at, fugit
  tempore.</p>