<h1>6. Reactive-forms <a href="https://www.tektutorialshub.com/angular/angular-forms-fundamentals/">Ref</a></h1>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="firstname">First Name </label>
        <input type="text" id="firstname" name="firstname" class="form-control" formControlName="firstname">
    </div>

    <div *ngIf="!firstname?.valid && (firstname?.dirty ||firstname?.touched)" class="text-danger">
        <div [hidden]="!firstname.errors.required">
            First Name is required
        </div>
        <div [hidden]="!firstname.errors.minlength">
            Min Length is 10
        </div>
    </div>

    <div class="form-group">
        <label for="lastname">Last Name </label>
        <input type="text" id="lastname" name="lastname" class="form-control" formControlName="lastname">
    </div>

    <div class="form-group">
        <label for="email">Email </label>
        <input type="text" id="email" name="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
        <label for="password">Password </label>
        <input type="password" id="password" name="password" class="form-control" formControlName="password">
    </div>
    <div class="form-group">
        <label for="confirm">Confirm </label>
        <input type="password" id="confirm" name="confirm" class="form-control" formControlName="confirm">
    </div>

    <div class="form-group">
        <label for="gender">Geneder </label><br>
        <input type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male
        <input type="radio" value="female" id="gender" name="gender" formControlName="gender"> Female
    </div>

    <div class="form-group">
        <label for="isMarried">Married </label>
        <input type="checkbox" id="isMarried" name="isMarried" formControlName="isMarried">
    </div>

    <div formGroupName="address">
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" name="city" formControlName="city">
        </div>

        <div class="form-group">
            <label for="street">Street</label>
            <input type="text" class="form-control" name="street" formControlName="street">
        </div>

        <div class="form-group">
            <label for="pincode">Pin Code</label>
            <input type="text" class="form-control" name="pincode" formControlName="pincode">
            <div *ngIf="!pincode.valid && (pincode.dirty ||pincode.touched)">
                <div *ngIf="pincode.errors.gte" class="text-danger">
                    The number should be greater than {{pincode.errors.requiredValue}}
                </div>
            </div>
        </div>


    </div>


    <p>
        <label for="country">country </label>
        <select id="country" name="country" formControlName="country">
            <option value="null" disabled>Select country</option>
            <option value="1">India</option>
            <option value="2">USA</option>
            <option value="3">England</option>
            <option value="4">Singapore</option>
        </select>
    </p>


    <p class="btn-group">
        <button type="submit" class="btn" [disabled]="!contactForm.valid">Submit</button>
        <button type="button" class="btn" (click)="setValue()">Set value</button>
        <button type="button" class="btn" (click)="patchName()">Patch Name</button>
        <button type="button" class="btn" (click)="this.contactForm.reset()">Reset</button>
    </p>

</form>


<h3>Form Status</h3>
<!-- all this state can be accessed by form, formgroup, controller -->
<b>valid : </b>{{contactForm.valid}}
<b>invalid : </b>{{contactForm.invalid}}
<b>touched : </b>{{contactForm.touched}}
<b>untouched : </b>{{contactForm.untouched}}
<b>pristine : </b>{{contactForm.pristine}}
<b>dirty : </b>{{contactForm.dirty}}
<b>disabled : </b>{{contactForm.disabled}}
<b>enabled : </b>{{contactForm.enabled}}

<h4>Form & Form control all methods <a href="https://www.tektutorialshub.com/angular/formcontrol-in-angular/">ref</a>
</h4>
<h4>From & Form group methods <a href="https://www.tektutorialshub.com/angular/formgroup-in-angular/">ref</a></h4>

<p>select roles</p>
<form [formGroup]="rolesForm" (ngSubmit)="onRoleSubmit()">
    <label><input type="checkbox" formControlName="admin">admin</label>
    <label><input type="checkbox" formControlName="seller">seller</label>
    <label><input type="checkbox" formControlName="buyer">buyer</label>
    <input type="submit" value="submit">
</form>