<ul>
  <li><a [routerLink]="'/'">Home</a></li>
  <li><a [routerLink]="'directive'">directive</a></li>
  <li><a [routerLink]="'pipe'">pipe</a></li>
  <li><a [routerLink]="'form'">reactive form</a></li>
  <li><a [routerLink]="'services'">services</a></li>
  <li><a [routerLink]="'http'">http</a></li>
  <li><a [routerLink]="['product', '1']" [queryParams]="{page:2, color: 'red', sort: 'seller'}">product</a></li>
</ul>

<router-outlet></router-outlet>

<hr>
<hr>
parent input - <input type="text" [(ngModel)]="parentMessage" /> <br />
child to parent output - {{ parentMessage }} <br />
using local variable - {{ child.message }}
<app-component-communication [myMessage]="parentMessage" (dataChanged)="dataChangedHandler($event)"
  #child></app-component-communication>

<hr />
<button (click)="hide()" class="btn btn-primary">Toggle child hide</button>
<app-life-cycle-hook *ngIf="displayChild" [message]="parentMessage"></app-life-cycle-hook>



<div class="mb-5"></div>