/* You can add global styles to this file, and also import other style files */
.form-group > label:first-child::after {
  content: "*";
  color: #d9534f;
}

a.active {
  color: white !important;
}

.pass-container {
  position: relative;
}
.pass-eye {
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;
  cursor: pointer;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
