<div class="container">
    <h1>Registration Form</h1>
    <hr>
    <p class="help-block">All fields marked with "<span style="color: #d9534f;">*</span>" are required.</p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="row">

            <div class="form-group col-md-6"
                [ngClass]="{'has-error ':(!firstName?.valid && (firstName?.dirty ||firstName?.touched))}">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="First Name"
                    formControlName="firstName">
                <div *ngIf="!firstName?.valid && (firstName?.dirty ||firstName?.touched)" class="text-danger">
                    <div [hidden]="!firstName?.errors?.['required']">
                        First Name is required
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6"
                [ngClass]="{'has-error ':(!lastName?.valid && (lastName?.dirty ||lastName?.touched))}">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                    formControlName="lastName">
                <div *ngIf="!lastName?.valid && (lastName?.dirty || lastName?.touched)" class="text-danger">
                    <div [hidden]="!lastName?.errors?.['required']">Last Name is required</div>
                </div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error ':(!username?.valid && (username?.dirty ||username?.touched))}">
           
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username">
            <div *ngIf="!username?.valid && (username?.dirty || username?.touched)" class="text-danger">
                <div [hidden]="!username?.errors?.['required']">Username is required</div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error ':(!email?.valid && (email?.dirty ||email?.touched))}">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
            <div *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="text-danger">
                <div [hidden]="!email?.errors?.['required']">Email is required</div>
            </div>
        </div>
        <div formGroupName="passwords">
            <div class="form-group"
                [ngClass]="{'has-error ':(!password?.valid && (password?.dirty ||password?.touched))}">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password"
                    formControlName="password">
                <div *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="text-danger">
                    <div [hidden]="!password?.errors?.['required']">Password is required</div>
                    <div [hidden]="!password?.errors?.['pattern']">Password must be at least 4 characters long and
                        include one uppercase letter, one lowercase letter, one number, and one special character.</div>
                </div>
            </div>
            <div class="form-group"
                [ngClass]="{'has-error ':((!confirmPassword?.valid || passwords?.errors?.['noMatch']) && (confirmPassword?.dirty ||confirmPassword?.touched))}">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password"
                    formControlName="confirmPassword">
                <div *ngIf="(!confirmPassword?.valid || passwords?.errors?.['noMatch']) && (confirmPassword?.dirty || confirmPassword?.touched)"
                    class="text-danger">
                    <div [hidden]="!confirmPassword?.errors?.['required']">Confirm Password is required</div>
                    <div [hidden]="!(!confirmPassword?.errors?.['required'] && passwords?.errors?.['noMatch'])">
                        Passwords don't match.
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error ':(!dob?.valid && (dob?.dirty ||dob?.touched))}">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" id="dob" placeholder="Confirm Password" formControlName="dob"
                [max]="currentDate">
            <div *ngIf="!dob?.valid && (dob?.dirty || dob?.touched)" class="text-danger">
                <div [hidden]="!dob?.errors?.['required']">Date of Birth is required</div>
                <div [hidden]="!dob?.errors?.['noMatch']">Date of Birth cannot be in the future. Please enter a valid
                    date.</div>
            </div>
        </div>
        <div class="form-group">
            <Label>Gender</Label>
            <br>
            <label for="male" class="radio-inline"><input type="radio" formControlName="gender" id="male"
                    value="male">Male</label>
            <label for="female" class="radio-inline"><input type="radio" formControlName="gender" id="female"
                    value="female">Female</label>
            <div *ngIf="!gender?.valid && (gender?.dirty || gender?.touched)" class="text-danger">
                <div [hidden]="!gender?.errors?.['required']">Gender is required</div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error ':(!state?.valid && (state?.dirty ||state?.touched))}">
            <Label>State</Label>
            <select class="form-control" formControlName="state" (change)="onStateChange($event)">
                <option value="null" disabled>select state</option>
                <ng-container *ngFor="let state of states">
                    <option [value]="state.Id" class="text-capitalize">{{state.Name}}</option>
                </ng-container>
            </select>
            <div *ngIf="!state?.valid && (state?.dirty || state?.touched)" class="text-danger">
                <div [hidden]="!state?.errors?.['required']">State is required</div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error ':(!city?.valid && (city?.dirty ||city?.touched))}">
            <Label>City</Label>
            <select class="form-control" formControlName="city">
                <option value="null" disabled>select city</option>
                <ng-container *ngFor="let city of citys">
                    <option [value]="city.Id" class="text-capitalize">{{city.Name}}</option>
                </ng-container>
            </select>
            <div *ngIf="!city?.valid && (city?.dirty || city?.touched)" class="text-danger">
                <div [hidden]="!city?.errors?.['required']">City is required</div>
            </div>
        </div>



        <div class="form-group" *ngIf="!image?.valid ; else elseBlock">
            <label for="exampleInputFile">Profile Image</label>
            <input type="file" id="exampleInputFile" formControlName="image" (change)="onFileChange($event)">
            <!-- <p class="help-block">Example block-level help text here.</p> -->
            <div *ngIf="!image?.valid && (image?.dirty || image?.touched)" class="text-danger">
                <div [hidden]="!image?.errors?.['required']">Image is required</div>
            </div>
        </div>

        <ng-template #elseBlock>
            <div class="img-display-container">
                <img src="" class="profile-display-image" alt="profile image" #profileImg>
                <button type="button" class="btn btn-default" (click)="removeImg($event)">Remove Image</button>
            </div>
        </ng-template>

        <div class="form-group">
            <label>Roles</label>
            <br>
            <ng-container formArrayName="roles">
                <ng-container *ngFor="let role of roles.controls; let i = index;">
                    <label [for]="rolesDB[i].Name" class="checkbox-inline"><input type="checkbox" [id]="rolesDB[i].Name"
                            [formControlName]="i">{{rolesDB[i].Name}}</label>
                </ng-container>
            </ng-container>
            <div *ngIf="!roles?.valid && (roles?.dirty || roles?.touched)" class="text-danger">
                <div [hidden]="!roles.errors?.['noMatch']">At least one role is required</div>
            </div>
        </div>
        <div class="">

            <button type="submit" class="btn btn-primary" [disabled]="isSubmit">Register</button>

            <button type="button" class="btn btn-default" style="margin-left: 5px;" (click)="onReset()">Reset</button>
        </div>
    </form>
</div>